@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

    * {
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      scroll-behavior: smooth;
    }

    body {
      background-color: #fffaf5;
    }

    /* Header */
    .header {
      background-color: #f0f0f0;
      width: 100%;
      position: fixed;
      z-index: 999;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 100px;
    }

    .logo-title {
      text-decoration: none;
      color: #F564A9;
      font-weight: 700;
      font-size: 1.8em;
    }

    .navigations a {
      color: #F564A9;
      text-decoration: none;
      font-size: 1.1em;
      font-weight: 500;
      margin-left: 30px;
    }

    .navigations a:hover {
      color: #B77B54;
    }

    /* Main Section */
    .main {
      width: 100%;
      min-height: 100vh;
      padding: 100px 200px;
      display: flex;
      align-items: center;
      background-repeat: no-repeat;
    }

    .main h2 {
      font-size: 1.4em;
      font-weight: 500;
      color: #000;
    }

    .main h2 span {
      display: inline-block;
      margin-top: 8px;
      color: #F564A9;
      font-size: 2.8em;
      font-weight: 600;
    }

    .main h3 {
      font-size: 2em;
      font-weight: 700;
      margin: 8px 0 15px;
    }

    .main-btn {
      background-color: #F564A9;
      color: white;
      text-decoration: none;
      font-size: 1.1em;
      font-weight: 600;
      padding: 0.8em 2em;
      border-radius: 18px;
      transition: 0.5s ease;
      display: inline-block;
      margin-bottom: 30px;
    }

    .main-btn:hover {
      background-color:  #FFA6D5;
      transform: scale(1.1);
      color: #000;
    }

    .social-icons a {
      color: #333;
      font-size: 1.7em;
      margin-right: 20px;
    }

    /* Cards Section */
    .cards {
      padding: 100px 50px;
    }

    .title {
      text-align: center;
      color: #B77B54;
      font-size: 2.2em;
      font-weight: 700;
      margin-bottom: 30px;
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }

    .card {
      background-color: #fff;
      width: 300px;
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      padding: 20px;
      transition: transform 0.3s ease;
    }

    .card:hover {
      transform: scale(1.05);
    }

    .card h3 {
      text-align: center;
      font-size: 1.5em;
      color: #eab308;
      margin-bottom: 15px;
    }

    .card ul {
      list-style: none;
      padding-left: 0;
      color: #374151;
    }

    .card ul li {
      margin-bottom: 8px;
      line-height: 1.6;
    }

    /* Footer */
    footer {
      background-color: #f8c291;
      padding: 15px;
      text-align: center;
      font-size: 14px;
    }